<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.demo.repository.StudentRepository">
    <resultMap id="Student" type="my.demo.entity.Student">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
    </resultMap>

    <select id="findById" resultMap="Student">
        select * FROM student where id=#{id}
    </select>
    

    <insert id="insert" parameterType="my.demo.entity.Student">
        insert into student (title)
        values (#{title})
        <selectKey resultType="Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="update">
        UPDATE student set title=#{title} where id=#{id}
    </update>

    <delete id="delete">
        delete from student where id=#{id}
    </delete>
</mapper>